{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}

<h1>{{ title }}</h1>
{% for office in offices %}
    <li> {{ office.city }}: {{ office.latitude }} - {{ office.longitude }}</li>
{% endfor %}
{% endblock body %}
